{% extends "base.html" %}
{% load static %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'jelly/style.css' %}">
{% endblock %}
{% block content %}
<!-- 

    Gelatina de avena -> Con manzana y leche deslactosada

    Especiales:
        Tequila -> Azul
        Cerveza -> Heineken
-->

<div class="container basedesign" >
            <div class="row">
                <div class="col-12 responsive text-center">
                    <img width="82%" height="100%" src="/static/jelly/logonombre.svg">
                </div> 
            </div> 
            <div class="row">
                <div class="col-12 responsive text-center">
                    <h5 style="margin-bottom: 10px;font-weight: 600; text-transform:uppercase;">Gelatinas fuera de lo común</h5>
                </div> 
            </div>         
</div>
<div class="container basedesign">
    <div class="row" style="margin-top: 2rem; margin-bottom: 0.6em">
        <div class="col-12 text-center">
            <img width="70%" height="70%" src="/static/jelly/gle.svg">
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 0.6em; margin-bottom: 0.6em">
        <div class="card " style="width: 18rem;">
            <img class="card-img-top" src="static/jelly/gm1.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Gelatina de galleta María </h5>
              <h6 class="card-subtitle mb-2 text-muted">Precio: $20.00</h6>
            </div>
          </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 0.6em; margin-bottom: 0.6em">
        <div class="card " style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Gelatina de mazapán</h5>
              <h6 class="card-subtitle mb-2 text-muted">Precio: $20.00</h6>
              <p class="card-text">Elaborado con mazapán De La Rosa.</p>
            </div>
          </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 0.6em; margin-bottom: 0.6em">
        <div class="card " style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Gelatina de cajeta</h5>
              <h6 class="card-subtitle mb-2 text-muted">Precio: $20.00</h6>
            </div>
          </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 0.6em; margin-bottom: 0.6em">
        <div class="card " style="width: 18rem;">
            <img class="card-img-top" src="static/jelly/all1.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Gelatina de Oreo</h5>
              <h6 class="card-subtitle mb-2 text-muted">Precio: $20.00</h6>
              <p class="card-text">Con el sabor de una de las galletas favoritas.</p>
            </div>
          </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 0.6em; margin-bottom: 0.6em">
        <div class="card " style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Gelatina de chocolate 🍫 </h5>
              <h6 class="card-subtitle mb-2 text-muted">Precio: $20.00</h6>
              <p class="card-text">Hecha con chocolate Crunch.</p>
            </div>
          </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 0.6em; margin-bottom: 0.6em">
        <div class="card " style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Gelatina de trufa</h5>
              <h6 class="card-subtitle mb-2 text-muted">Precio: $20.00</h6>
              <p class="card-text">Trufa de chocolate estilo francés.</p>
            </div>
          </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 0.6em; margin-bottom: 0.6em">
        <div class="card " style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Gelatina de chocolate con queso 🧀 </h5>
              <h6 class="card-subtitle mb-2 text-muted">Precio: $20.00</h6>
              <p class="card-text">Nutella y queso.</p>
            </div>
          </div>
    </div>
    <div class="row" style="margin-top: 2rem; margin-bottom: 0.9em">
        <div class="col-12 text-center">
            <img width="70%" height="90%" src="/static/jelly/gba.svg">
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 0.6em; margin-bottom: 0.6em">
        <div class="card " style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Gelatina de fresa 🍓 </h5>
              <h6 class="card-subtitle mb-2 text-muted">Precio: $18.00</h6>
              <p class="card-text">Reducida en azucar con leche deslactosada.</p>
            </div>
          </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 0.6em; margin-bottom: 0.6em">
        <div class="card " style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Gelatina de avena 🍎 </h5>
              <h6 class="card-subtitle mb-2 text-muted">Precio: $18.00</h6>
              <p class="card-text">Con manzana y leche deslactosada.</p>
            </div>
          </div>
    </div>
    <div class="row" style="margin-top: 2rem;">
        <div class="col-12 text-center">
            <img width="70%" height="42%" src="/static/jelly/esp.svg">
        </div>
    </div>
    <div class="row justify-content-center" style=" margin-bottom: 0.6em">
        <div class="card " style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Gelatina de tequila </h5>
              <h6 class="card-subtitle mb-2 text-muted">Precio: $20.00</h6>
              <p class="card-text">Con tequila Azul.</p>
            </div>
          </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 0.6em; margin-bottom: 0.6em">
        <div class="card " style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Gelatina de cerveza 🍺 </h5>
              <h6 class="card-subtitle mb-2 text-muted">Precio: $20.00</h6>
              <p class="card-text">Con cerveza Heineken.</p>
            </div>
          </div>
    </div>
</div>



{% endblock %}